<nav class="nav nav-pills nav-fill mb-4">
  <%= render 'nav_button', duration: 'days' %>
  <%= render 'nav_button', duration: 'weeks' %>
  <%= render 'nav_button', duration: 'months' %>
  <%= render 'nav_button', duration: 'years' %>
</nav>

<div class="row" data-masonry='{"percentPosition": true }'>
  <%# All %>
  <div class="col-md-3 mb-4">
    <div class="card text-dark bg-light">
      <ul class="list-group list-group-flush">
        <% @totals.each do |brand, amount| %>
          <li class="list-group-item text-dark"><%= brand %> <strong><%= number_to_currency(amount) %></strong> per <%= params[:duration]&.singularize %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%# Least expsnive %>
  <div class="col-md-3 mb-4">
    <div class="card text-white bg-success">
      <div class="card-body">
        <h6 class="card-subtitle mb-2"> Least Expensive</h6>
        <h1 class="card-title display-4"><%= @totals.first[0] %></h1>
        <h6 class="card-subtitle mb-2">At <%= number_to_currency(@totals.first[1]) %> per <%= params[:duration]&.singularize %></h6>
      </div>
    </div>
  </div>

  <%# Most expensive %>
  <div class="col-md-3 mb-4">
    <div class="card text-white bg-danger">
      <div class="card-body">
        <h6 class="card-subtitle mb-2"> Most Expensive</h6>
        <h1 class="card-title display-4"><%= @totals.last[0] %></h1>
        <h6 class="card-subtitle mb-2">At <%= number_to_currency(@totals.last[1]) %> per <%= params[:duration]&.singularize %></h6>
      </div>
    </div>
  </div>


  <%# Total %>
  <%# Hidden value for odometer %>
  <input id="total-value" value="<%= @total %>" hidden="true" />
  <div class="col-md-3 mb-4">
    <div class="card text-dark bg-light">
      <div class="card-body">
        <h6 class="card-subtitle mb-2"> Total</h6>
        <h1 class="card-title display-4"><span class="odometer" id="odometer">0.00</span></h1>
        <h6 class="card-subtitle mb-2">Per <%= params[:duration]&.singularize %></h6>
      </div>
    </div>
  </div>

  <%# Pie Chart %>
  <div class="col-md-4 mb-4">
    <%# https://chartkick.com/ %>
    <%= pie_chart @totals, prefix: "$", round: 2, donut: true, suffix: " per #{params[:duration]&.singularize}" %>
  </div>

  <%# Column Chart %>
  <div class="col-md-6 mb-4">
    <%= column_chart @totals, prefix: "$", round: 2, suffix: " per #{params[:duration]&.singularize}" %>
  </div>
</div>