<div class="row" data-masonry='{"percentPosition": true }'>
  <%# Total %>
  <div class="col-md-4 mb-4">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h1 class="card-title"><%= number_to_currency(@total) %></h1>
        <h6 class="card-subtitle mb-2">per <%= params[:duration]&.singularize %></h6>
        <%= link_to 'Day', dashboard_index_path(duration: 'days'), class: "btn btn-sm btn-primary #{'active' if params[:duration].eql?('days')}" %>
        <%= link_to 'Week', dashboard_index_path(duration: 'weeks'), class: "btn btn-sm btn-primary #{'active' if params[:duration].eql?('weeks')}" %>
        <%= link_to 'Month', dashboard_index_path(duration: 'months'), class: "btn btn-sm btn-primary #{'active' if params[:duration].eql?('months')}" %>
        <%= link_to 'Year', dashboard_index_path(duration: 'years'), class: "btn btn-sm btn-primary #{'active' if params[:duration].eql?('years')}" %>
      </div>
    </div>
  </div>

  <%# Pie Chart %>
  <div class="col-md-4 mb-4">
    <%# https://chartkick.com/ %>
    <% amounts = Subscription.group(:brand_id).sum(:amount).map { |k,v| [Brand.find(k).name.capitalize, v] }.to_h %>
    <%= pie_chart amounts, prefix: "$", round: 2 %>
  </div>
</div>
