<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
        <% subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# brand_id %>
  <%= form.hidden_field :brand_id, value: @brand.id %>

  <%# image %>
  <%= image_tag @brand.image_url(:preview) %>
  <span class="h1"><%=@brand.brand_name  %></span>

  <div class="field">
    <%= form.label :amount, class: 'form-label' %>
    <%= form.text_field :amount, class: 'form-control' %>
  </div>

  <div class="row">
    <%= form.label :frequency, class: 'form-label' %>
    <div class="col">
      every
    </div>
    <div class="col">
      <%= form.number_field :frequency, class: 'form-control' %>
    </div>
    <div class="col">
      <%= form.select :unit,
          options_for_select(Subscription.units, selected: subscription[:unit]),
          {}, { :class => 'form-select' } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :first_bill, class: 'form-label' %>
    <%= form.date_field :first_bill, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
