<p>
  <%= image_tag @subscription.brand.image_url(:preview), class: 'rounded' %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @subscription.amount %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @subscription.frequency %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @subscription.unit %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
