<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @brand.image_url(:preview), class: 'rounded' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brand.url %>
</p>

<p>
  <strong>Info:</strong>
  <%= @brand.info %>
</p>

<p>
  <strong>Category:</strong>
  <%= @brand.category %>
</p>

<td><%= link_to 'Edit', edit_brand_path(@brand) %></td>
<td><%= link_to 'Destroy', @brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', brands_path, class: 'btn btn-sm btn-outline' %>
