<!DOCTYPE html>
<html>
  <head>
    <title>Subs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container py-2">
      <%= render 'layouts/flash' %>
      <%= link_to 'home', root_path %>
      <%= link_to 'brands', brands_path %>
      <%= yield %>
    </div>
  </body>
</html>
